.chat-content {
    height: 100%;
    .scroll-chat {
        height: calc(100vh - 100px);
        overflow: auto;

        @media(max-width: 992px) {
            height: calc(100vh - 510px);
        }
        @media(max-width: 576px) {
            height: calc(100vh - 300px);
        }

        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #ececec;
            border-radius: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #97aef1;
            border-radius: 10px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #6080e0;
            border-radius: 10px;
        }
    }
}

.received_msg, .received_form {
    p, form {
        background: #e4e8fb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }

    .title-name {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 1.0rem;
    }

    span{
        color: #747474;
        display: block;
        font-size: 10px;
        margin: 3px 0 0;
        margin-bottom: 10px;
    }
}